.tags-container .badge {
	margin-right: 0.5em;
	margin-bottom: 0.8em;
	cursor: pointer;
}

.tags-container .badge:nth-child(even) {
	background: #474e5d;
	color: #ffffff;
}

.tags-container .badge:nth-child(odd) {
	background: #f8f9fa;
}
img {
	width: 100%;
}