<div class="container" th:fragment="scheduleTweet">
	<link rel="stylesheet" href="/css/time-line.css">

	<strong>Scheduled Tweets</strong>
	<div class="timeline">
		<div th:each="tweet : ${scheduledtweets}" class="timeline-container">
			<div class="content">
				<strong th:text="${tweet.scheduledTime}" />
				<p th:text="${tweet.tweetText}" />
				<img th:if="${tweet.uploadFileId != null}"
					th:src="${'/images/' + tweet.uploadFileId}" />
				<div id="suggestedTags" class="tags-container">
					<span class="badge badge-pill badge-light"
						th:each="tag : ${tweet.getTags()}" th:text="${tag}" />
				</div>
			</div>
		</div>
	</div>
</div>
