<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/time-line.css">
</head>
<body>

	<div class="container">
		<h3>Scheduled Tweets</h3>
		<div class="timeline">
			<div th:each="tweet : ${tweets}" class="timeline-container">
				<div class="content">
					<h3 th:text="${tweet.scheduledTime}"/>
					<p th:text="${tweet.tweetText}"/>
					<img th:if="${tweet.uploadFileId != null}" th:src="${'/images/' + tweet.uploadFileId}"/>
				</div>
			</div>
		</div>
	</div>

</body>
</html>