<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/glyphicon.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"
	crossorigin="anonymous"></script>

</head>
<body>

	<div class="container">

		<div th:if="${message}">
			<h2 th:text="${message}" />
		</div>

		<div class="row">
			<div class="offset-md-2 col-md-8">
				<h3>Create a tweet</h3>
				<form method="POST" enctype="multipart/form-data"
					action="/add-tweet">
					<div class="form-group">
						<textarea class="form-control" id="tweetText" name="tweetText"
							rows="3" placeholder="What's happening?"></textarea>
					</div>

					<div class="form-group" style="margin-bottom: 1em">
						<label for="tweetFile">Tweet Image</label> <input type="file"
							id="tweetFile" name="tweetFile">
					</div>

					<div class="form-group">
						<label for="tweetDatetime">Post date time</label> <input readonly
							type="text" class="form-control" id="tweetDatetime"
							name="tweetDatetime">
						<div id=tweetDatetimePicker></div>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary mb-2">Submit</button>
					</div>
				</form>
			</div>
		</div>

		<!--
		<div>
			<ul>
				<li th:each="file : ${files}"><a
					th:href="'files/' + ${file.fileName}" th:text="${file.fileName}" /></li>
			</ul>
		</div>
-->

	</div>

	<script>
		let tweetDatetimePicker, tweetDatetime;
		$(function() {
			tweetDatetimePicker = $('#tweetDatetimePicker');
			tweetDatetime = $('#tweetDatetime');

			tweetDatetimePicker.datetimepicker({
				inline : true,
				sideBySide : true,
				minDate : moment()
			}).on('dp.change', function(event) {
				displaySelectedDatetime(tweetDatetimePicker, tweetDatetime);
			});

			displaySelectedDatetime(tweetDatetimePicker, tweetDatetime);
		});
		function displaySelectedDatetime(picker, field) {
			field.val(picker.data("DateTimePicker").viewDate().format(
					'YYYY-MM-DDThh:mmZ'));
		}
	</script>

</body>
</html>